**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
*/2021529_HW-*.zip
*/Datasets
*/.env
*/*.pth
*/*.pt
*/wandb
**/__pycache__
Assignment-1/VAINF
Assignment-1/DeepLabV3Plus-Resnet101.pth.tar